html,body 
{
	font-family:Gorgia;
	background:#208ecd;
	height:100%;
}

nav
{
	height:56px;
}

#welcome
{
	text-align:center;
	height:95vh;
}

#plans
{
	text-align:center;
}

#bmi
{
	text-align:center;
	height:120px;
}

#newsletter
{
	text-align:center;
	height:110px;
}

footer
{
	text-align:center;
	background:white;
	height:auto;
}

#img_plans
{
	width:320px;
	height:auto;
}

