html,body 
{
	font-family:Gorgia;
	background:#208ecd;
}

nav
{
	
}

#welcome
{
	text-align:center;
	padding:20px;
}

#img_baner
{
	width:auto;
	height:100%;
}

#plans
{
	text-align:center;
	padding:20px;
}

#bmi
{
	text-align:center;
	padding:20px;
}

#newsletter
{
	text-align:center;
	padding:20px;
}

footer
{
	text-align:center;
	background:white;
	height:auto;
	border:10px;
}

#img_plans
{
	width:320px;
	height:auto;
}

#bmi_cal_button, #health_plan_button, #clever_plan_button, #family_plan_button
{
	background-color:Gainsboro;
	border: solid 1px black;
	color:black;
}

#newsletter_email
{
	border-color:black;
}

.form-control::placeholder
{
  color: black;
}

#button-addon2
{
	background-color:Gainsboro;
	color:black;
	border-color:black;
}